source_up

export PROJECT_ROOT=$(pwd)
export PROJECT_NAME=$(basename $PROJECT_ROOT)

export PATH=$PATH:$PROJECT_ROOT/bin

export LOCAL_DATABASE_PORT=$(docker inspect broker-go_database_1 | jq -r '.[0].NetworkSettings.Ports["5432/tcp"][0].HostPort')
export LOCAL_DATABASE_HOST=localhost
export LOCAL_DATABASE_USER=broker-go
export LOCAL_DATABASE_PASSWORD=s3cr3t
export LOCAL_DATABASE_NAME=broker-go

export TICKER_EVT_POSTGRES_URL="user=$LOCAL_DATABASE_USER password=$LOCAL_DATABASE_PASSWORD host=$LOCAL_DATABASE_HOST port=$LOCAL_DATABASE_PORT dbname=$LOCAL_DATABASE_NAME sslmode=disable pool_max_conns=10"
export TICKER_SEQ_POSTGRES_URL="user=$LOCAL_DATABASE_USER password=$LOCAL_DATABASE_PASSWORD host=$LOCAL_DATABASE_HOST port=$LOCAL_DATABASE_PORT dbname=$LOCAL_DATABASE_NAME sslmode=disable pool_max_conns=10"

export PGHOST=$LOCAL_DATABASE_HOST
export PGPORT=$LOCAL_DATABASE_PORT
export PGDATABASE=$LOCAL_DATABASE_NAME
export PGUSER=$LOCAL_DATABASE_USER
export PGPASSWORD=$LOCAL_DATABASE_PASSWORD

export LOCAL_REDIS_PORT=$(docker inspect broker-go_redis_1 | jq -r '.[0].NetworkSettings.Ports["6379/tcp"][0].HostPort')
export LOCAL_REDIS_HOST=localhost
export LOCAL_REDIS_URL="$LOCAL_REDIS_HOST:$LOCAL_REDIS_PORT"
export LOCAL_REDIS_DB=0
export LOCAL_REDIS_PASSWORD=""

export TICKER_SEQ_REDIS_URL="$LOCAL_REDIS_HOST:$LOCAL_REDIS_PORT"
export TICKER_SEQ_REDIS_DB=$LOCAL_REDIS_DB
export TICKER_SEQ_REDIS_PASSWORD=$LOCAL_REDIS_PASSWORD

export TICKER_TLS_CERT="../certs/broker.crt"
export TICKER_TLS_KEY="../certs/broker.key"
export TICKER_CLIENT_CA="../certs/ca.crt"
